<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
<meta name="theme-color" content="#FFF">
<title>Sunbeam Homestay Vũng Tàu - Homestay Giá Rẻ, Tiện Nghi, Gần Biển</title>

<meta name="description" content="Sunbeam Homestay Vũng Tàu cung cấp chỗ ở giá rẻ, tiện nghi hiện đại và gần biển. Đặt phòng homestay dễ dàng và tận hưởng kỳ nghỉ lý tưởng tại Vũng Tàu.">
<meta name="keywords" content="Sunbeam Homestay, Homestay Vũng Tàu, đặt phòng homestay, homestay gần biển, homestay giá rẻ Vũng Tàu, nghỉ dưỡng Vũng Tàu, homestay tiện nghi">
<meta name="robots" content="index, follow">
<meta name="author" content="Sunbeam Homestay">

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="Sunbeam Homestay Vũng Tàu - Homestay Giá Rẻ, Tiện Nghi, Gần Biển">
<meta property="og:description" content="Sunbeam Homestay Vũng Tàu cung cấp chỗ ở giá rẻ, tiện nghi hiện đại và gần biển. Đặt phòng homestay dễ dàng và tận hưởng kỳ nghỉ lý tưởng tại Vũng Tàu.">
<meta property="og:image" content="https://scontent.fhan4-6.fna.fbcdn.net/v/t39.30808-6/442475707_122107018454315348_45376187794268888_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=wjZo-k8naksQ7kNvgG2OdTA&_nc_ht=scontent.fhan4-6.fna&oh=00_AYBn9nST13NuM0B_L-cJAjo3K3pnBkfDT0llzRy2IS4yWg&oe=665B5F08">
<meta property="og:url" content="https://sunbeamhomestay.com/">
<meta property="og:type" content="website">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Sunbeam Homestay Vũng Tàu - Homestay Giá Rẻ, Tiện Nghi, Gần Biển">
<meta name="twitter:description" content="Sunbeam Homestay Vũng Tàu cung cấp chỗ ở giá rẻ, tiện nghi hiện đại và gần biển. Đặt phòng homestay dễ dàng và tận hưởng kỳ nghỉ lý tưởng tại Vũng Tàu.">
<meta name="twitter:image" content="https://scontent.fhan4-6.fna.fbcdn.net/v/t39.30808-6/442475707_122107018454315348_45376187794268888_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=wjZo-k8naksQ7kNvgG2OdTA&_nc_ht=scontent.fhan4-6.fna&oh=00_AYBn9nST13NuM0B_L-cJAjo3K3pnBkfDT0llzRy2IS4yWg&oe=665B5F08">
    
{%- if theme.favicon.apple_touch_icon %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for(theme.statics +  theme.images + theme.favicon.apple_touch_icon) }}">
{%- endif %}

<link rel="icon" type="image/ico" sizes="32x32" href="{{ url_for(theme.statics +  theme.images + '/favicon.ico') }}">

{%- if theme.favicon.safari_pinned_tab %}
  <link rel="mask-icon" href="{{ url_for(theme.statics + theme.images + theme.favicon.safari_pinned_tab) }}" color="{{ theme.android_chrome_color }}">
{%- endif %}
{%- if theme.favicon.android_manifest %}
  <link rel="manifest" href="{{ url_for(theme.statics + theme.images + theme.favicon.android_manifest) }}">
{%- endif %}
{%- if theme.favicon.ms_browserconfig %}
  <meta name="msapplication-config" content="{{ url_for(theme.statics + theme.images + theme.favicon.ms_browserconfig) }}">
{%- endif %}

{%- if theme.disable_baidu_transformation %}
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
{%- endif %}
{%- if theme.google_site_verification %}
  <meta name="google-site-verification" content="{{ theme.google_site_verification }}">
{%- endif %}
{%- if theme.bing_site_verification %}
  <meta name="msvalidate.01" content="{{ theme.bing_site_verification }}">
{%- endif %}
{%- if theme.yandex_site_verification %}
  <meta name="yandex-verification" content="{{ theme.yandex_site_verification }}">
{%- endif %}
{%- if theme.baidu_site_verification %}
  <meta name="baidu-site-verification" content="{{ theme.baidu_site_verification }}">
{%- endif %}

{%- if theme.google_analytics %}
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-LEXRV3FWQL"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ theme.google_analytics }}');
      </script>
      <!-- End Google Analytics -->
    {%- endif %}

<link rel="alternate" type="application/rss+xml" title="{{config.title}}" href="{{ full_url_for('/rss.xml') }}" />
<link rel="alternate" type="application/atom+xml" title="{{config.title}}" href="{{ full_url_for('/atom.xml') }}" />
<link rel="alternate" type="application/json" title="{{config.title}}" href="{{ full_url_for('/feed.json') }}" />

{{ _vendor_font() }}

{{ _css('app.css') }}
