{% macro item(name, path, parent) %}
  {%- set path = path.split('||') %}
  {%- set itemURL = path[0] | trim %}
  {%- if not itemURL.startsWith('http') %}
    {%- set itemURL = itemURL | replace('//', '/') %}
  {%- endif %}
  {%- if page.lang == 'en' and not itemURL.startsWith('http') %}
    {%- if itemURL == '/' %}
      {%- set itemURL = '/en/' %}
    {%- else %}
      {%- set itemURL = '/en' + itemURL %}
    {%- endif %}
  {%- endif %}
  {%- set menuIcon = '<i class="ic i-' + path[1] | trim + '"></i>' %}
  {%- set menuText = __('menu.' + name) | replace('menu.', '') %}
  {%- if parent %}
  <li class="item dropdown">
    {%- if itemURL == '/' %}
      <a href="javascript:void(0);">{{menuIcon + menuText}}</a>
    {%- else %}
      {{ _url(itemURL, menuIcon + menuText, {rel: 'section'}) }}
    {%- endif %}
    <ul class="submenu">
  {%- else %}
  <li class="item">
    {{ _url(itemURL, menuIcon + menuText, {rel: 'section'}) }}
  </li>
  {%- endif %}
{% endmacro %}

{%- for name, value in theme.menu %}
  {%- if value == '[object Object]' %}
    {%- for subname, subvalue in value %}
      {%- if subname == 'default' %}
        {{ item(name, subvalue, true) }}
      {%- else %}
        {{ item(subname, subvalue) }}
      {%- endif %}
    {%- endfor %}
  </ul>
  {%- else %}
    {{ item(name, value) }}
  {%- endif %}
{%- endfor %}

{%- if languages and languages.length > 1 %}
  <li class="item dropdown lang-switch" data-lang-switch>
    <a tabindex="0" role="button" aria-haspopup="listbox" aria-expanded="false" aria-label="{{ __('menu.language') }}: {{ page.lang | upper }}">
      <i class="ic i-flag"></i>{{ page.lang | upper }}
    </a>
    <ul class="submenu" role="listbox" aria-label="{{ __('menu.language') }}">
      {%- for lang in languages %}
        {%- if lang == languages[0] %}
          {%- set langPath = '/' %}
        {%- else %}
          {%- set langPath = '/' + lang + '/' %}
        {%- endif %}
        <li class="item{% if page.lang == lang %} active{% endif %}">
          <a class="lang-switch" href="{{ url_for(langPath) }}" lang="{{ lang }}" role="option"{% if page.lang == lang %} aria-selected="true"{% endif %}>{{ language_name(lang) }}</a>
        </li>
      {%- endfor %}
    </ul>
  </li>
{%- endif %}
